.login-form {
  background-color: white;
  //padding: 4rem;
  //padding-top: 2rem;
  //padding-bottom: 2rem;
  padding-right: 4rem;
  padding-left: 4rem;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: sans-serif;
  position: relative;
  z-index: 1;
  background: white;
}

.login-form input,
.login-form button {
  display: block;
  width: 50%;
  margin: 1rem 0;
  margin-left: 10rem;
  padding: 0.75rem;
  font-size: 1rem;
}

.login-form button {
  background-color: #0c6713;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  width: 54%;
}

.login-form button:hover {
  background-color: #4fb029;
}

.form-instructions {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: #444;
  line-height: 1.4;
}

.toggle-mode {
  text-align: left;
  margin-left: 10rem;   /* push to the right */
  width: 100%;            /* optional: match other inputs/buttons */
  font-size: 0.9rem;
}

.toggle-mode button {
  text-align: center;
  
  margin-left: 0rem;   /* push to the right */
  width: 54%;            /* optional: match other inputs/buttons */
  font-size: 0.9rem;
}


